<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="Camera Wide Format"
        android:icon="@android:drawable/ic_menu_camera"
        android:allowBackup="false"
        android:supportsRtl="true">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="为 OPPO 系统相机解锁 65:24 宽幅比例：预览与成片、去水印、Ultra HDR 保留" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />

    </application>
</manifest>
